
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-left-open-big:before { content: '\e802'; } /* '' */
.icon-right-open-big:before { content: '\e803'; } /* '' */
.icon-left-open-mini:before { content: '\e804'; } /* '' */
.icon-right-open-mini:before { content: '\e805'; } /* '' */
.icon-left-open-1:before { content: '\e806'; } /* '' */
.icon-right-open-1:before { content: '\e807'; } /* '' */
.icon-left-open-3:before { content: '\e808'; } /* '' */
.icon-right-open-3:before { content: '\e809'; } /* '' */
.icon-right-open-4:before { content: '\e80a'; } /* '' */
.icon-left-open-4:before { content: '\e80b'; } /* '' */
.icon-left-open-5:before { content: '\e80c'; } /* '' */
.icon-right-open-5:before { content: '\e80d'; } /* '' */
.icon-up-dir:before { content: '\e80e'; } /* '' */
.icon-right-open-2:before { content: '\f006'; } /* '' */
.icon-left-open-2:before { content: '\f007'; } /* '' */